/* You can add global styles to this file, and also import other style files */

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

body {
  background-color: #f2e8cf;
}

.btn-primary {
  background-color: #b5651d !important;
}

.btn-secondary {
  background-color: #4caf50;
}
