<nav
  class="navbar navbar-expand-lg navbar-light shadow-sm"
  style="background-color: #5b3921; padding: 0.5rem 1rem"
>
  <a
    class="navbar-brand d-flex align-items-center font-weight-bold text-white"
    routerLink="/"
  >
    <img
      src="https://images.rawpixel.com/image_png_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjEwMzMtYi0wNS1hXzIucG5n.png"
      alt="Book Worm Logo"
      style="height: 40px; width: 40px; margin-right: 8px"
    />
    Book Worm
  </a>

  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      @if(this.url==='viewer'){
      <li class="nav-item">
        <a
          class="nav-link text-white fw-semibold px-3"
          routerLinkActive="active"
          routerLink="/viewer/home"
        >
          <i class="fa-solid fa-house me-1"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white fw-semibold px-3"
          routerLinkActive="active"
          routerLink="/viewer/register"
        >
          Register
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white fw-semibold px-3"
          routerLinkActive="active"
          routerLink="/viewer/login"
        >
          Login
        </a>
      </li>
      } @else {
      <li class="nav-item">
        <a
          class="nav-link text-white fw-semibold px-3"
          routerLinkActive="active"
          routerLink="/user/home"
        >
          <i class="fa-solid fa-house-user me-1"></i> Home
        </a>
      </li>
      <li class="nav-item">
        <a
          class="nav-link text-white fw-semibold px-3"
          routerLinkActive="active"
          routerLink="/user/cart"
        >
          <i class="fa-solid fa-cart-shopping me-1"></i> Cart
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white fw-semibold px-3" (click)="logout()"
          >Logout</a
        >
      </li>
      }
    </ul>
  </div>
</nav>

<main style="min-height: 560px; background-color: #f2e8cf">
  <router-outlet></router-outlet>
</main>
