<div
  style="
    width: 400px;
    margin: auto;
    margin-top: 30px;
    padding: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
  "
>
  <h3 class="mb-4 text-center">Forgot Password</h3>
  <form [formGroup]="forgetForm">
    <small class="mb-4 text-center">
      Enter Your emailand we'll send you instructions on how to reset your
      password
    </small>
    <div class="form-group">
      <input
        type="email"
        class="form-control"
        id="email"
        placeholder="Email"
        formControlName="email"
      />
      @if
      (this.forgetForm.controls['email'].errors&&this.forgetForm.controls['email'].touched)
      {
      <small class="text-danger">Please provide a valid Email.</small>
      }
    </div>

    <button
      [disabled]="forgetForm.invalid"
      [class.disabled]="forgetForm.invalid"
      class="btn btn-primary w-40 mr-2"
      type="submit"
      (click)="submit()"
    >
      Submit
    </button>
    <button class="btn btn-info w-40" type="submit" (click)="cancel()">
      Cancel
    </button>
  </form>
</div>
